@page
@model PetShopOnline.Pages.Shipper.OrderShipperComplete.IndexModel
@{
}
@{
    Layout = "/Pages/Shared/_LayoutShipper.cshtml";
}

<style>
    /* CSS for DataTable */
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: lightblue; /* Change this line to set the background color */
    }
    #orders {
        width: 100%;
        margin-top: 20px;
    }

    .delivered-status {
        color: forestgreen;
    }

    .cancel-status {
        color: red;
    }
</style>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#orders').DataTable({
                "paging": true,
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "columnDefs": [
                    { "targets": [0], "width": "5%" },
                    { "targets": [1], "width": "25%" },
                    { "targets": [2], "width": "25%" },
                    { "targets": [3], "width": "20%" },
                    { "targets": [4], "width": "20%" },
                    { "targets": [5], "width": "5%" }
                ]
            });
        });
    </script>
}

<h1>Order List</h1>

<table id="orders" class="display">
    <thead>
        <tr>
            <th>No.</th>
            <th>Tên sản phẩm</th>
            <th>Địa chỉ nhận hàng</th>
            <th>Số điện thoại liên hệ</th>
            <th>Trạng thái</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Ships.Count; i++)
        {
            var ship = Model.Ships[i];
            var shipNumber = i + 1;
            <tr>
                <td>@shipNumber</td>
                <td>@ship.ProductNames</td>
                <td>@ship.Address</td>
                <td>@ship.PhoneContact</td>
                <td>
                    @if (@ship.OrderStatus == "Delivered")
                    {
                        <span class="delivered-status">Khách đã nhận hàng</span>
                    }
                    else if (@ship.OrderStatus == "Cancel")
                    {
                        <span class="cancel-status">Đơn hàng bị huỷ</span>
                    }
                </td>
                <td>
                    <a href="~/Shipper/OrderShipper/OrderDetail?OrderId=@ship.OrderId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>