@page
@model PetShopOnline.Pages.Manager.IndexModel
@{
}
@section statisticsale{
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Index</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    </head>
    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Thống kê khách hàng</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a href="#">Thống kê khách hàng</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">

        <div class="col-sm-12">
            <div class="alert  alert-success alert-dismissible fade show" role="alert">
                <span class="badge badge-pill badge-success">Success</span> You successfully read this important alert message.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>


        <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-flat-color-1">
                <div class="card-body pb-0">
                    <h4 class="mb-0">
                        @Model.TotalWeeklySales $
                    </h4>
                    <p class="text-light">Doanh thu hàng tuần</p>

                    <div class="chart-wrapper px-0" style="height:70px;" height="70">
                        <canvas id="widgetChart1"></canvas>
                    </div>

                </div>

            </div>
        </div>
        <!--/.col-->

        <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-flat-color-2">
                <div class="card-body pb-0">
                    <h4 class="mb-0">
                        <span class="count">@Model.TotalOrders</span>
                    </h4>
                    <p class="text-light">Tổng số đơn đặt hàng</p>

                    <div class="chart-wrapper px-0" style="height:70px;" height="70">
                        <canvas id="widgetChart2"></canvas>
                    </div>

                </div>
            </div>
        </div>
        <!--/.col-->

        <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-flat-color-3">
                <div class="card-body pb-0">
                    <h4 class="mb-0">
                        <span class="count">@Model.Total</span>
                    </h4>
                    <p class="text-light">Tổng số khách hàng</p>

                </div>

                <div class="chart-wrapper px-0" style="height:70px;" height="70">
                    <canvas id="widgetChart3"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div id="content-right">
        <div class="content-main">
            <div id="content-main-dashboard">
                <div id="dashboard-2">
                    <div style="margin-left:20px">
                        <form method=get>
                            <label>Năm</label><br />
                            <select name="Year" onchange="this.form.submit()">
                                @{
                                    foreach (var year in Model.Years)
                                    {
                                        if (year == (int)ViewData["Year"])
                                        {
                                            <option selected value="@year">@year</option>
                                        }
                                        else
                                        {
                                            <option value="@year">@year</option>
                                        }
                                    }
                                }
                            </select>
                        </form>
                    </div>
                    <br />
                    <div id="chart" style="text-align: center;">
                        <div id="chart1">
                            <h3>Thống kê Đơn hàng (Tháng)</h3>
                            <canvas id="myChart1" style="width: 100%;"></canvas>
                        </div>
                        <div id="chart2">
                            <canvas id="myChart2" style="width: 80%;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function OrdersChart() {
            var xValues = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12];

            new Chart("myChart1", {
                type: "line",
                data: {
                    labels: xValues,
                    datasets: [{
                        data: [@Model.jan, @Model.feb, @Model.mar, @Model.apr, @Model.may, @Model.jun, @Model.jul, @Model.aug, @Model.sep, @Model.oct, @Model.nov, @Model.dec],
                        borderColor: "orangered",
                        fill: true
                    }]
                },
                options: {
                    legend: { display: false }
                }
            });
        }

        function CustomersChart() {
            var xValues = ["Tổng", "Khách hàng mới"];
            var yValues = [@Model.Total, @Model.NewCustomersInMonth];
            var barColors = ["green", "red"];

            new Chart("myChart2", {
                type: "bar",
                data: {
                    labels: xValues,
                    datasets: [{
                        backgroundColor: barColors,
                        data: yValues
                    }]
                },
                options: {
                    legend: { display: false },
                    title: {
                        display: true,
                        text: "Khách hàng mới (Trong vòng 30 ngày)"
                    }
                }
            });
        }

        OrdersChart();
        CustomersChart();
    </script>
    <link href="~/css/style.css" rel="stylesheet" />
}

