@page
@model PetShopOnline.Pages.Product.CartModel
@{
}
<link href="~/css/cartshopping.css" rel="stylesheet" />
<script src="~/js/signup.js"></script>
<head>
    <div class="jumbotron jumbotron-bg text-center rounded-0" style="background-image: url('https://azpet.com.vn/wp-content/uploads/2021/07/Banner-Mobile-Cho-Canh.jpg');">
    </div>
</head>
<body>
    <div id="cart" class="py-3">
        <div id="cart-title" class=" mb-3">
            <h3>Giỏ Hàng Mua Sắm</h3>
        </div>
        <div id="cart-content">
            @ViewData["emptymess"]
            @ViewData["msgQuantityProduct"]
            @{
                if (Model.CartItems != null)
                {
                    foreach (var cartitem in Model.CartItems)
                    {
                        <div class="cart-item">
                            <div class="cart-item-infor justify-content-between align-items-center px-3">

                                <div class="cart-item-name d-flex ">
                                    <a href="/Product/ProductDetail?id=@cartitem.Product.ProductId">@cartitem.Product.ProductName</a>
                                    <div class="cart-item-function">
                                        <a asp-page="/product/cart" asp-page-handler="minus" asp-route-id="@cartitem.Product.ProductId">-</a>
                                        <input type="text" value="@cartitem.Quantity" disabled />
                                        <a asp-page="/product/cart" asp-page-handler="plus" asp-route-id="@cartitem.Product.ProductId">+</a>
                                    </div>
                                </div>
                                <div class="cart-item-price">
                                    @(cartitem.Product.UnitPrice * cartitem.Quantity) VNĐ

                                </div>
                                <a asp-page="/Product/Cart" class="btn btn-danger mx-3" asp-page-handler="delete" asp-route-id="@cartitem.Product.ProductId">Xóa</a>
                            </div>

                        </div>
                    }
                }
            }
        </div>
        <div id="cart-summary">
            <div id="cart-summary-content">Tổng Giá Tiền: <span style="color:red">@ViewData["total"] $</span></div>
        </div>
        <form method="post">
            <div id="customer-info">
                <div id="customer-info-content">
                    <h3>Thông Tin Khách Hàng:</h3>
                    <div id="customer-info-detail">
                        <div id="customer-info-left" class="form-group">
                            <input type="text" placeholder="Tên Khách Hàng *" asp-for="Customer.Name" class="required-field form-control" /><br />
                            <input type="text" placeholder="Số Điện Thoại *" asp-for="Customer.Phone" class="required-field form-control" /><br />
                        </div>
                        <div id="customer-info-right " class="form-group w-50">
                            <input type="text" placeholder="Địa Chỉ *" asp-for="Customer.Address" class="required-field form-control" /><br />
                            <input type="text" placeholder="Tỉnh *" asp-for="Customer.Province" class="form-control" /><br />
                        </div>
                    </div>
                    <div style="color:red">
                        Điền tất cả thông tin được nêu trên
                    </div>
                </div>
            </div>
            <div id="customer-info">
                <div id="customer-info-content">
                    <h3>PAYMENT METHODS:</h3>
                    <div id="customer-info-payment">
                        <div>
                            <input type="radio" name="rbPaymentMethod" checked />
                            Payment C.O.D - Payment on delivery
                        </div>
                        <div>
                            <input type="radio" name="rbPaymentMethod" disabled />
                            Payment via online payment gateway
                        </div>
                    </div>
                </div>
            </div>
            <div id="cart-order" class="mr-5">
                <span style="color:red">
                    @ViewData["msgEmpty"]
                </span>
                <button type="submit" style="width: 200px;" class="btn btn-success py-3">ORDER</button>
            </div>
        </form>
    </div>
</body>