@page
@model PetShopOnline.Pages.Shipper.IndexModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shipper Profile</title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #007BFF; /* Change the background color to light blue */
            color: white; /* Text color to white for better visibility */
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #add8e6; /* Light background color */
            color: black;
            text-align: center;
            padding: 20px;
        }

        .path {
            font-weight: bold;
            margin-bottom: 10px;
            padding: 20px;
            background-color: #333; /* Slightly lighter Gray Background Color */
        }

        .content-main {
            background-color: #f0f0f0; /* Light Gray Background Color */
            padding: 20px;
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
        }

        .profile-content-col {
            flex: 1;
            margin-right: 30px;
        }

            .profile-content-col div {
                margin-bottom: 10px;
                color: #333;
                font-size: 16px;
            }

            .profile-content-col a {
                text-decoration: none;
            }

            .profile-content-col input[type="submit"] {
                background-color: #007BFF;
                color: white;
                border: none;
                padding: 10px 20px;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease;
                font-size: 16px;
            }

                .profile-content-col input[type="submit"]:hover {
                    background-color: #0056b3;
                }
    </style>

</head>
<body>
    <header style="font-size: 24px; text-align: center; padding: 20px; font-weight: bold;">
        Welcome @Model.Shipper.Name
    </header>
    <div class="path">Thông tin người dùng</div>
    <div class="content-main">
        <div id="profile-content">
            <div class="profile-content-col">
                <div>Tên: <br />@Model.Shipper.Name</div>
            </div>
            <div class="profile-content-col">
                <div>Tỉnh: @Model.Shipper.Province</div>
                <div>Huyện/Quận: @Model.Shipper.District</div>
                <div>Xã/Thị trấn: @Model.Shipper.Wards</div>
            </div>
            <div class="profile-content-col">
                <div>Địa chỉ: @Model.Shipper.Address</div>
            </div>
            <div class="profile-content-col">
                <div>Số điện thoại: @Model.Shipper.Phone</div>
            </div>
            <div class="profile-content-col">
                <div>Email: @Model.Account.Email</div>
                <div>
                    <a href="~/Shipper/Profile/EditProfileShipper">
                        <input type="submit" value="Edit info" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
